<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>Đổi mật khẩu</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
  <link rel="stylesheet" type="text/css" th:href="@{/Admin/CSS/style2.css}"/>
  <link rel="stylesheet" type="text/css" th:href="@{/bootstrap/css/bootstrap.css}"/>
  <script src="https://kit.fontawesome.com/b86b756e64.js" crossorigin="anonymous"></script>
  <link href="https://use.fontawesome.com/releases/v5.0.6/css/all.css" rel="stylesheet"/>
  <script type="text/javascript" th:src="@{/JS/jquery-3.3.1.min.js}"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script type="text/javascript" th:src="@{/JS/popper.min.js}"></script>
  <script type="text/javascript" th:src="@{/bootstrap/js/bootstrap.min.js}"></script>
  <script type="text/javascript" th:src="@{/Admin/JS/script.js}"></script>
</head>
<body>
<div class="page-wrapper chiller-theme toggled">
  <div th:replace="Admin/SidebarAdmin :: sidebar"></div>
  <main class="page-content">
    <div class="container">
      <h4 class="text-uppercase text-danger font-weight-bold text-center">Đổi mật khẩu</h4>
      <hr/>
      <div th:if="${message != null}">
        <div class="modal" tabindex="-1" role="dialog" id="modalAddAdmin">
          <div class="modal-dialog" role="document">
            <div class="modal-content">
              <div class="modal-header">
                <h5 class="modal-title">Tài khoản Admin</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                  <span aria-hidden="true">&times;</span>
                </button>
              </div>
              <div class="modal-body">
                <p th:text="${message}"></p>
              </div>
              <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">OK</button>
              </div>
            </div>
          </div>
        </div>
      </div>
      <form th:action="@{/manager/admin/ChangePassword}" th:object="${admin}" class="m-md-4"
            method="post">
        <div class="form-group">
          <label for="currentPassword" class="font-weight-bold">Mật khẩu hiện tại <span
              class="text-danger">*</span>
            <p class="error" th:if="${#fields.hasErrors('password')}" th:errors="*{password}"></p>
          </label>
          <input type="password" class="form-control" id="currentPassword"
                 placeholder="Mật khẩu hiện tại" name="currentPassword" th:field="*{password}"/>
        </div>
        <div class="form-group">
          <label for="newPassword" class="font-weight-bold">Mật khẩu mới <span
              class="text-danger">*</span>
            <p class="error" th:if="${#fields.hasErrors('newPassword')}"
               th:errors="*{newPassword}"></p>
          </label>
          <input type="password" class="form-control" id="newPassword" placeholder="Mật khẩu mới"
                 name="newPassword" th:field="*{newPassword}"/>
        </div>
        <div class="form-group">
          <label for="confirmPassword" class="font-weight-bold">Nhập lại mật khẩu <span
              class="text-danger">*</span>
            <p class="error" th:if="${#fields.hasErrors('confirmPassword')}"
               th:errors="*{confirmPassword}"></p>
          </label>
          <input type="password" class="form-control" id="confirmPassword"
                 placeholder="Nhập lại mật khẩu" name="confirmPassword"
                 th:field="*{confirmPassword}"/>
        </div>
        <button type="submit" class="btn btn-info text-white mt-md-4">Đổi mật khẩu</button>
        <a th:href="@{/manager}" class="btn btn-dark mt-4" role="button"><i
            class="fa fa-arrow-circle-o-left" aria-hidden="true"></i></a>
      </form>
    </div>
  </main>
  <!-- page-content" -->
</div>
</body>
</html>