<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>Đổi mật khẩu</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
  <link rel="stylesheet" type="text/css"
        href="//cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.css"/>
  <link rel="stylesheet" type="text/css" th:href="@{/Customer/CSS/style.css}"/>
  <link rel="stylesheet" type="text/css" th:href="@{/bootstrap/css/bootstrap.css}"/>
  <link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css"
        integrity="sha384-AYmEC3Yw5cVb3ZcuHtOA93w35dYTsvhLPVnYs9eStHfGJvOvKxVfELGroGkvsg+p"
        crossorigin="anonymous"/>
  <script type="text/javascript" th:src="@{/JS/jquery-3.3.1.min.js}"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script type="text/javascript" th:src="@{/JS/popper.min.js}"></script>
  <script type="text/javascript" th:src="@{/bootstrap/js/bootstrap.min.js}"></script>
  <script type="text/javascript" th:src="@{/Customer/JS/script.js}"></script>
  <script type="text/javascript"
          src="//cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.min.js"></script>
</head>
<body>
<div th:replace="Customer/Header :: header"></div>
<div class="container mt-5">
  <div class="row">
    <div class="col-md-3 my-5 ">
      <a class="row my-2" th:href="@{/user/profile}">Thông tin tài khoản</a>
      <a class="row my-2" th:href="@{/user/orders}">Danh sách đơn hàng</a>
      <a class="row my-2 link-active" th:href="@{/user/ChangePassword}">Đổi mật khẩu</a>
      <a class="row my-2" th:href="@{/user/logout}">Đăng xuất</a>
    </div>
    <div class="col-md-9">
      <h4 class="text-uppercase font-weight-bold title-cart">Đổi mật khẩu</h4>
      <hr/>
      <div th:if="${message != null}">
        <div class="modal" tabindex="-1" role="dialog" id="modalCustomer">
          <div class="modal-dialog" role="document">
            <div class="modal-content">
              <div class="modal-header">
                <h5 class="modal-title">Tài khoản</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                  <span aria-hidden="true">&times;</span>
                </button>
              </div>
              <div class="modal-body">
                <p th:text="${message}"></p>
              </div>
              <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">OK</button>
              </div>
            </div>
          </div>
        </div>
      </div>
      <form class="m-md-4" method="post" th:action="@{/user/ChangePassword}"
            th:object="${customer}">
        <div class="form-group">
          <label for="currentPassword" class="font-weight-bold">Mật khẩu hiện tại <span
              class="text-danger">*</span>
            <p class="error" th:if="${#fields.hasErrors('password')}" th:errors="*{password}"></p>
          </label>
          <input type="password" class="form-control" id="currentPassword"
                 placeholder="Mật khẩu hiện tại" name="currentPassword" th:field="*{password}"/>
        </div>
        <div class="form-group">
          <label for="newPassword" class="font-weight-bold">Mật khẩu mới <span
              class="text-danger">*</span>
            <p class="error" th:if="${#fields.hasErrors('newPassword')}"
               th:errors="*{newPassword}"></p>
          </label>
          <input type="password" class="form-control" id="newPassword" placeholder="Mật khẩu mới"
                 name="newPassword" th:field="*{newPassword}"/>
        </div>
        <div class="form-group">
          <label for="confirmPassword" class="font-weight-bold">Nhập lại mật khẩu <span
              class="text-danger">*</span>
            <p class="error" th:if="${#fields.hasErrors('confirmPassword')}"
               th:errors="*{confirmPassword}"></p>
          </label>
          <input type="password" class="form-control" id="confirmPassword"
                 placeholder="Nhập lại mật khẩu" name="confirmPassword"
                 th:field="*{confirmPassword}"/>
        </div>
        <button type="submit" class="btn btn-info text-white my-3 mt-md-5">Đổi mật khẩu</button>
        <button type="button" class="btn btn-dark my-3 mt-md-5"><a class="text-light"
                                                                   href="">Hủy</a></button>
      </form>
    </div>
  </div>
</div>
<div th:replace="Customer/Footer :: footer"></div>
</body>
</html>